<template>
 	<ol class="breadcrumb">
    	<li v-for="item in crumb" class="breadcrumb-item">
    		<a v-if="item.url" v-bind:class="setClass" v-bind:href="item.url">{{ item.title }}</a>
    		<span v-if="!item.url">{{ item.title }}</span>
    	</li>
	</ol>
 
</template>

<script>
    export default {
    	props:['crumb'],
    	computed:{
    		setClass: function(){
				if (this.url) {
					return "active"
				}
				return ""    			
    		}
    	}
    }
</script>
