<template>
	<!-- Formas de contato -->
    <div class="form-group">
        <label for="contact_means">Formas de Contato</label>
        <fieldset>
            <legend></legend>
        	<span v-if="items" class="checkboxes" v-for="(item,index) in items">
                <input type="checkbox" v-bind:value="item.id" name="contact_means[]">
                <label for="contact_means"> {{ item.title }} </label>
        	</span>
        	<span></span>
            <span v-if="items.length === 0">
            	Nenhuma Forma de Contato cadastrada no sistema. Gostaria de <a href="/formas_contato/" title="Acessar listagem de Formas de Contato">cadastrar</a>?
			</span>
        </fieldset>
    </div>
</template>

<script>
    export default {
    	props:["items"],
    }
</script>

<style type="text/css">
	.checkboxes {
		padding: 5px;
	}
</style>