<template>
	<form v-bind:action="action" v-bind:method="setMethod" v-bind:enctype="enctype">
		<input v-if="updateMethod" type="hidden" name="_method" v-bind:value="updateMethod">
		<input v-if="token" type="hidden" name="_token" v-bind:value="token">
		<slot></slot>
	</form>

</template>

<script>
    export default {
    	props:["action","method","enctype","token"],
    	data: function() {
            return {
                updateMethod: ""
            }
        },
    	computed: {
    		setMethod: function(){
    			if (this.method.toLowerCase() == "post" || this.method.toLowerCase() == "get") {
    				return this.method.toLowerCase();
    			}

    			// Verifica se é PUT, verbo de edição
    			if (this.method.toLowerCase() == "put") {
    				this.updateMethod = "put";
    			}

    			// Verifica se é DELETE, verbo de remoção
    			if (this.method.toLowerCase() == "delete") {
    				this.updateMethod = "delete";
    			}

    			return "post";
    		}
    	}
    }
</script>
